<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node + EJS</title>
    <script src="uc-component/esm/stencilwebcomponents.js" type="module"></script>
</head>

<body>
    <uc-stock-price></uc-stock-price>
    <uc-stock-finder></uc-stock-finder>
</body>

</html>